<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  
  <link rel="stylesheet" href ="/css/trail_style.css">
  <link rel="stylesheet" href ="/css/header_style.css">
</head>

<body>

<!-- Navigation Bar -->
	<div class = "header">
	  <div class = "trailTab">
	    <form method = "GET" action = "/">
	      <input type = "submit" value = "Profile">
	    </form> 
	  </div>
	  <div class = "userTab"> 
	    <form method = "GET" action = "/trails">
	      <input type = "submit" value = "Trails">
	    </form> 
	  </div>
	</div>
    
<!-- Page Content -->
  <div class = "content">
  	<div class = "search">
  		<h2> Find Trails </h2>
  		<form method="POST" action = "/trails">
  			<input type = "text" name = "zipcode" placeholder ="Enter Your Zip Code"> </input>
  			<!-- Get the location of the device-->
  			<input type = "submit"> </input>
  		</form>

	  <div class = "forYouFilter">
		<label for="forYouDropDown">Just For You:</label>
		<select name="forYouDropDown" id="forYouDropDown">
		   <option value=""></option>
		   <option value="easy">Easy & Chill</option>
		   <option value="medium">At My Level</option>
		   <option value="hard">Challenge Me</option>
		 </select>
	  </div>
		  
  	<div class = "trailList">
      {{#each trailList}}
    		<div class = "trail">
              <b>{{this.name}}</b>
              <span>Trail Length: {{this.length}}</span>
              <span>Trail Difficulty: {{this.difficulty}}</span>
              <button class="expandButton"> More Information </button>
              <div class="hiddenDiv">
                <span>{{this.description}}</span>
                <a target = "_blank" href = {{this.location.navigate}}> Navigate to this trail</a>
              </div>
    		</div>
      {{/each}}
  	</div>
  </div>
    {{#each js}}
      <link href="./js/{{this}}", rel="stylesheet">
    {{/each}}

<script src="/js/user.js"></script>
<script src="/js/moreTrailInfo.js"></script>
<script src="/js/trailFilter.js"></script>

</body>

</html>